<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{head-title}}</title>

<link rel="preload" href="/static/fonts/overpass.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/overpass-mono.woff2" as="font" type="font/woff2" crossorigin>

<link rel="stylesheet" href="/static/base.css">

<link rel="icon" href="/static/favicon.ico">

<link href="/index.xml" rel="alternate" type="application/rss+xml" title="Automerge Blog">

<meta name="description" content="{{og-description}}">

<meta property="og:image" content="{{og-image}}">
<meta property="og:title" content="{{head-title}}">
<meta property="og:description" content="{{og-description}}">
<meta property="og:type" content="{{og-type}}">
<meta property="og:url" content="{{og-url}}">

<script defer src="/static/theme.js"></script>
