---
This is the template used by the home page.
---



<!doctype html>
<html lang="en">
<head>{{include: head-stuff}}</head>
<body>
  <input type="checkbox" id="burger-state" />
  <aside>
    <header>
      {{include: logo}}
      {{include: burger}}
    </header>
    <nav>
      <div>{{include: nav}}</div>
      {{include: theme-toggle}}
      <a href="/docs/hello" class="get-started">Get Started</a>
    </nav>
  </aside>
  <main>
    {{content}}
    <footer>{{include: footer}}</footer>
  </main>
</body>
</html>