#demo {
  position: relative;
  display: flex;
  gap: 5rem clamp(20px, 10vw, 150px);
  align-items: end;
  width: max-content;
  margin-inline: auto;
}

@media (width <= 1024px) {
  #demo {
    flex-direction: column;
    align-items: center;
  }
}

#demo .client {
  flex: 0 0 auto;
  background-color: var(--bg);
}

#demo canvas {
  position: absolute;
  inset: 0;
  width: calc(100% - 8px); /* Cut the canvas just shy of the phone border, so we don't draw particles past the phone screen */
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

#demo h3 {
  font: 100 24px "Overpass Mono";
}

/* Desktop */

#demo .desktop {
  border: 2px solid var(--fg);
  border-radius: 8px;
  contain: paint; /* contain dots */
}

@media (width > 1024px) {
  #demo .desktop {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#demo .desktop .title {
  display: flex;
  padding: 8px;
  border-bottom: 2px solid var(--fg);
}

#demo .desktop .title::before {
  content: "";
  height: 15px;
  width: 45px;
  background: radial-gradient(var(--bg) 3px, var(--fg) 3.25px, var(--fg) 5px, transparent 5.25px);
  background-size: 15px;
}

#demo .desktop .inner {
  display: flex;
}

@media( width <= 600px) {
  #demo .desktop .inner {
    flex-flow: column;
  }
}

#demo .desktop .users {
  flex: 0 0 auto;
  padding: 17px 24px;
  border-right: 2px solid var(--fg);
  font: 500 16px / 1 "Overpass Mono";
}

@media( width <= 600px) {
  #demo .desktop .users {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    border-right: 0;
    border-bottom: 2px solid var(--fg);
  }
}

#demo .desktop .users h4 {
  margin-block: 15px 18px; /* Tuned to match text in the todo list */
  font: 600 12px / 1 "Overpass Mono";
  text-transform: uppercase;
}

#demo .desktop .users h4.offline {
  margin-block: 22px 20px;
}

@media( width <= 600px) {
  #demo .desktop .users h4,
  #demo .desktop .users h4.offline {
    margin-block: 0 10px;
  }
}

#demo .desktop .user {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 7px;
}

@media( width <= 600px) {
  #demo .desktop .user:last-of-type {
    margin-bottom: 0;
  }
}

#demo .desktop .user svg {
  width: 34px;
  margin-top: -4px;
}

/* Phone */

#demo .phone {
  margin-inline: auto;
  padding: 6px 6px 0;
  border: 2px solid var(--fg);
  border-bottom: 0;
  border-radius: 48px 48px 0 0;

  background-image: url("autodots-phone.png");
  background-size: auto 350px;
  background-position: top;
  background-repeat: repeat-x;
  image-rendering: pixelated;
}

#demo .phone .inner {
  border: 2px solid var(--fg);
  border-bottom: 0;
  border-radius: 40px 40px 0 0;
  color: var(--fg);
  background: var(--bg);
}

#demo .phone .speaker {
  width: 48px;
  height: 12px;
  margin: 8px auto 8px;
  border: 2px solid var(--fg);
  border-radius: 8px;
}

#demo .phone .users {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  padding: 0 10px;
}

#demo .phone .users svg {
  flex: 0 0 auto;
  width: 34px;
}

/* CLIENT TODO LISTS */

#demo h3 {
  margin: 20px 20px 4px;
}

#demo [js-client] {
  position: relative;
}

#demo .entry {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0;
  padding-left: 20px;
}

#demo .entry .plus {
  flex: 0 0 auto;
  stroke: currentColor;
}

#demo .entry .field {
  flex: 1 1 auto;
}

#demo .list {
  position: relative;
  height: 260px;
  overflow: hidden;
}

#demo .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: 20px;
  transition: translate .5s cubic-bezier(.6, 1, 0, 1);
}

#demo input {
  flex: 0 0 auto;
  margin: 0;
  border: 0;
  outline: 0;
  color: inherit;
}

#demo input.checkbox {
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid currentColor;
  border-radius: 2px;
  cursor: pointer;
}

#demo input.checkbox.hide {
  visibility: hidden;
}

#demo input.checkbox:checked::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 4px;
  left: 4px;
  background: currentColor;
  z-index: 2;
}

/* Also applies to the new task entry field */
#demo input.text {
  display: inline-block;
  width: 260px;
  max-width: 70vw;
  padding: 13px 0 7px 10px;
  border-bottom: 2px solid transparent;
  /* Must match dots.ts */
  font: 500 16px / 1 "Overpass Mono";
  white-space: nowrap;
  text-overflow: ellipsis;
  background: transparent;
  overflow: hidden;
}

#demo input.checkbox:focus-within {
  outline: 2px solid currentColor;
}

#demo .entry:focus-within,
#demo .item:focus-within {
  color: var(--bg);
  background: var(--fg);
}

#demo .desktop input.text {
  width: 340px;
}

#demo input::placeholder {
  color: currentColor;
}

#demo .hidden {
  display: none;
}

#demo .todo-overflow {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#demo .svg-dots {
  background-image: url('data:image/svg+xml,<svg fill="%23222" xmlns="http://www.w3.org/2000/svg"><circle cx="1" cy="1" r=".5"/><circle cx="3" cy="3" r=".5"/></svg>');
  background-size: 4px 4px;
  background-repeat: repeat;
}

html[theme="dark"] #demo .svg-dots {
  background-image: url('data:image/svg+xml,<svg fill="%23fc3" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="1" height="1" /><rect x="2.5" y="2.5" width="1" height="1" /></svg>');
}