#logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

html[data-theme="dark"] .logo-dark,
html[data-theme="light"] .logo-light {
  display: none;
}